        p {
            display: block;
            margin-block-start: 0px;
            margin-block-end: 0px;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        /*colors*/
        
        .light_color {
            color: #E5E5E5;
        }
        
        .light_akcent_color {
            background-color: #6CEEDB;
        }
        
        .light_akcent_text_color {
            color: #6CEEDB;
        }
        
        a.light_akcent_text_color svg path {
            fill: #6CEEDB;
        }
        
        .main_color {
            color: #3085EA;
        }
        
        .dark_akcent_color {
            background-color: #01326B;
        }
        
        .dark_color {
            background-color: #010101;
        }
        /*color text*/
        
        .headers_color {
            color: #1A1B1B;
        }
        
        .headers2_color {
            color: #2F3D4F;
        }
        
        .main_text_color {
            color: #4C6481;
        }
        
        .main_text2_color {
            color: #8D9293;
        }
        
        .text_for_dark_color {
            color: #BEC2C3;
        }
        
        .button_bgcolor {
            border: 2px solid #E5E5E5;
        }
        
        .button_bordercolor {
            border: 2px solid #3085EA;
        }
        
        .hover_color {
            background: linear-gradient(136.37deg, #6CEEDB 14.63%, #3085EA 85.37%);
        }
        
        .active_color {
            background: linear-gradient(33.55deg, #3085EA 13.93%, #01326B 86.07%);
        }
        /*fonts*/
        
        .header1 {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 56px;
            line-height: 120%;
        }
        
        .header2 {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 36px;
            line-height: 42px;
        }
        
        .header3 {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 28px;
            line-height: 158.49%;
            letter-spacing: 0.04em;
        }
        
        .header4 {
            font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            letter-spacing: 0.04em;
        }
        
        .header5 {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
        }
        
        .header6 {
            font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }
        
        .main_text {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 141%;
        }
        
        .small_text {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 128.91%;
        }
        
        .button_text {
            font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            /* identical to box height */
            letter-spacing: 0.04em;
        }
        
        .link {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            color: #3085EA;
        }
        
        .link:hover .main_text_color {
            color: #01326B;
        }
        
        .link svg path {
            fill: #3085EA;
        }
        
        .link:hover {
            color: #01326B;
        }
        
        .link:hover svg path {
            fill: #01326B;
        }
        
        .link.active {
            color: #01326B;
        }
        
        .light_link {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 141%;
            background: #E5E5E5;
        }
        
        .light_link:hover {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 141%;
            background: #8D9293;
        }
        
        .light_link.active {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 141%;
            background: #8D9293;
        }
        
        .button_blue {
            width: 180px;
            height: 50px;
            background-color: #3085EA;
            border-radius: 30px;
            font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            /* identical to box height */
            letter-spacing: 0.04em;
            color: #E5E5E5;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: none;
            outline: none;
        }
        
        .button_blue:hover {
            background: linear-gradient(136.37deg, #6CEEDB 14.63%, #3085EA 85.37%);
        }
        
        .button_white {
            cursor: pointer;
            font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            /* identical to box height */
            letter-spacing: 0.04em;
            width: 180px;
            height: 50px;
            border: 2px solid #E5E5E5;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #3085EA;
            background-color: #FFFFFF;
            margin-right: auto;
            margin-left: auto;
            outline: none;
        }
        
        @keyframes anim {
            from {
                border-color: #6CEEDB;
            }
            70% {
                border-color: #3085EA;
            }
            to {
                border-color: #6CEEDB;
            }
        }
        
        .button_white:hover {
            animation: anim 1s linear 1s infinite;
            border-color: #6CEEDB;
        }
        /*//////////////////////////////////////////////////////////*/
        
        a {
            text-decoration: none;
        }
        
        textarea {
            outline: none;
        }
        
        ul {
            list-style-type: none;
        }
        
        #header_main {
            height: auto;
        }
        
        .container {
            max-width: 1440px;
            margin: 0px auto 0px auto;
            position: relative;
        }
        
        .containerwidth100vw {
            width: 100vw;
            /* min-width: 1440px;*/
            margin: 0px auto 0px auto;
            /* position: relative; */
            position: fixed;
            z-index: 1000;
            top: 0;
        }
        
        .wrapper {
            max-width: 1050px;
            width: 1050px;
            margin: 0px auto 0px auto;
            position: relative;
        }
        /*header*/
        
        .header_index {
            height: auto;
            width: 1050px;
            margin: auto;
        }
        
        .container_header {
            max-width: 1440px;
            margin: 0px auto 0px auto;
            position: fixed;
            top: 0;
            z-index: 100;
            background-color: #FFFFFF;
        }
        
        .header {
            position: relative;
        }
        
        .header_wrapper {
            height: auto;
            width: 1050px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            position: relative;
        }
        
        .header_logo {
            width: auto;
            margin-top: 20px;
            height: 100%;
        }
        
        .header_logo svg {
            width: auto;
            height: 100%;
        }
        
        .header_navigation {
            text-align: right;
        }
        
        .wrap_contacts div {
            display: inline-block;
            /*  vertical-align: middle;*/
        }
        
        .wrap_contacts {
            margin-top: 15px;
            margin-bottom: 26px;
        }
        
        .header_navigation .email {
            margin-right: 31px;
            vertical-align: middle;
        }
        
        .header_navigation .telefone {
            margin-right: 45px;
        }
        
        .header_navigation .socials {
            margin-right: 15px;
            vertical-align: middle;
        }
        
        .header_navigation .telefone svg {
            margin-right: 10px;
        }
        
        .header_navigation .social {
            margin-right: 7px;
        }
        
        .header_navigation .language:first-child {
            margin-right: 16px;
        }
        
        .header_navigation .menu a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .header_navigation .menu a:first-child {
            margin-right: 30px;
        }
        
        .header_navigation .menu .button_blue {
            display: none;
        }
        
        .header_navigation .menu .search {
            margin-right: 0px;
        }
        
        .header_navigation .menu .menu_drop {
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        /*end header*/
        /*slideshow*/
        
        #slideshow {
            /* position: absolute;
            top: 0;
            left: 0;*/
            width: 1440px;
            height: 760px;
            margin-bottom: 90px;
        }
        
        .slideshow {
            height: 100%;
            width: 100%;
        }
        
        .slider_content {
            margin-top: 230px;
            width: 780px;
        }
        
        .slideshow_btn {
            width: 200px;
        }
        
        .item {
            background-repeat: no-repeat;
            background-size: 100% auto;
            width: 1440px;
            height: 760px;
            box-sizing: border-box;
            background-position-x: center;
            background-position-y: center;
            /* position: absolute;*/
            border: 1px solid transparent;
            box-shadow: 0px 2px 4px rgba(1, 50, 107, 0.2);
        }
        
        .item.img1 {
            background-image: url(../assets/home/Rectangle.png);
        }
        
        .item.img2 {
            background-image: url(../assets/home/Rectangle.png);
        }
        
        .item.img3 {
            background-image: url(../assets/home/Rectangle.png);
        }
        
        .item.img4 {
            background-image: url(../assets/home/Rectangle.png);
        }
        
        .slider_content ul {
            margin-bottom: 53px;
            padding-inline-start: 0;
            margin-top: 24px;
        }
        
        .slider_content ul li {
            margin-top: 15px;
            list-style: none;
            background: url(../assets/home/check.png) no-repeat 0 4px;
            padding-left: 29px;
        }
        
        .owl-dots {
            position: absolute;
            bottom: 28px;
            left: 195px;
            width: 78px;
            height: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .owl-carousel button.owl-dot {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: #E5E5E5;
            outline: none;
        }
        
        .owl-carousel button.owl-dot.active {
            background-color: #6CEEDB;
        }
        
        .owl-dot span {
            background-color: #E5E5E5;
            height: 12px;
            width: 12px;
            border-radius: 50%;
        }
        /*about_us_section*/
        
        .about_us_section {
            margin-bottom: 100px;
        }
        
        .about_us_section .wrapper {
            display: flex;
            justify-content: center;
        }
        
        .about_us_section_image {
            width: 49%;
            max-width: 510px;
            min-width: 300px;
            margin-right: 30px;
        }
        
        .about_us_section_image img {
            width: 100%;
        }
        
        .about_us_section_text {
            width: 49%;
            max-width: 510px;
            min-width: 300px;
            display: flex;
            align-items: flex-end;
        }
        
        .about_us_section_text p {
            margin-bottom: 14px;
        }
        
        .about_us_section_wrapper_text p:last-child {
            margin-top: 30px;
        }
        
        .about_us_section_wrapper_text .link svg {
            margin-left: 6px
        }
        /*our_service_section*/
        
        .our_service_section .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        
        .our_service_section {
            text-align: center;
            margin-bottom: 70px;
        }
        
        .our_service_section>p {
            margin-bottom: 37px;
        }
        
        .our_service_section_div {
            width: 30%;
            min-width: 290px;
            max-width: 330px;
            height: 258px;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }
        
        .our_service_section_div p {
            padding: 20px 20px 20px 20px;
        }
        
        .our_service_section_div svg {
            margin-bottom: 20px;
        }
        /*//why_us_section///*/
        
        .why_us_section {
            width: 100%;
            height: 483px;
            background-image: url(../assets/home/whyUs.png);
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 100px;
        }
        
        .why_us_section .wrapper {
            text-align: center;
        }
        
        .why_us {
            margin-left: auto;
            margin-right: auto;
        }
        
        .why_us {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 70px;
        }
        
        .why_us_section_number {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 50px;
            line-height: 59px;
            text-align: center;
            margin-bottom: 16px;
        }
        
        .why_us_section_div {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
            width: 240px;
            min-width: 240px;
        }
        /*/////////////////////////////*/
        
        #about_us_section_wrapper_text_h3 {
            display: none;
        }
        
        .menu_open_block_mobile {
            display: none;
        }
        /*specialization_section*/
        
        .specialization_section .wrapper {
            text-align: center;
        }
        
        .specialization_section .wrapper>p {
            margin-bottom: 51px;
        }
        
        .specialization_section {
            margin-bottom: 56px;
            width: 100%;
            margin-top: 90px;
        }
        
        .specialization {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: stretch;
        }
        
        .specialization_section_div {
            width: 25%;
            min-width: 240px;
            height: 160px;
            margin-bottom: 30px;
        }
        /*///////////////////////////*/
        
        .how_works_section {
            text-align: center;
            width: 100%;
            margin-bottom: 113px;
        }
        
        .how_work {
            justify-content: space-between;
            display: flex;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            margin-top: 53px;
        }
        
        .how_works_section_div {
            box-sizing: border-box;
            position: relative;
            border-radius: 30px;
            box-shadow: 2px 2px 4px rgba(1, 50, 107, 0.2);
            height: auto;
            margin-bottom: 30px;
            max-width: 330px;
            min-width: 330px;
            height: 230px;
            padding: 46px 20px;
            margin-bottom: 32px;
            background: #FFFFFF;
        }
        
        .how_works_section_div p {
            text-align: left;
        }
        
        .how_works_section_steps {
            background: linear-gradient(136.37deg, #6CEEDB 14.63%, #3085EA 85.37%);
            box-shadow: 2px 2px 4px rgba(1, 50, 107, 0.2);
            color: #ffffff;
            width: 60px;
            height: 60px;
            position: absolute;
            border-radius: 50%;
            top: -20px;
            right: -20px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 24px;
        }
        /*form*/
        
        .form_section_text .header2 {
            margin-bottom: 36px;
        }
        
        .form_section_text p.main_text {
            margin-bottom: 12px;
        }
        
        .form_section {
            width: 100%;
            padding-top: 100px;
            padding-bottom: 80px;
            background: linear-gradient(148.11deg, #6CEEDB 14.63%, #3085EA 85.37%);
        }
        
        .wrapper_form_section {
            display: flex;
            align-items: flex-start;
            justify-content: stretch;
        }
        
        .form {
            width: 630px;
            background: white;
            border-radius: 30px;
            height: auto;
            box-sizing: border-box;
        }
        
        .content_form {
            width: 80%;
            margin: 45px auto 50px auto;
        }
        
        .form input:-ms-input-placeholder,
        .form textarea:-ms-input-placeholder {
            color: #E5E5E5;
        }
        
        .form input::-webkit-input-placeholder,
        .form textarea::-webkit-input-placeholder {
            color: #E5E5E5;
        }
        
        .form input::placeholder,
        .form textarea::placeholder {
            color: #E5E5E5;
        }
        
        .form input::-moz-placeholder,
        .form textarea::-moz-placeholder {
            color: #E5E5E5;
        }
        
        .form input,
        .form textarea,
        .form select {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 47%;
            margin-top: 6px;
            margin-bottom: 17px;
            height: 50px;
            border: 1px solid #E5E5E5;
            border-radius: 30px;
            outline: none;
            padding-left: 29px;
        }
        
        #name {
            width: 100%;
        }
        
        .form textarea {
            width: 100%;
            height: 81px;
            padding-top: 20px;
        }
        
        .form select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            background: url(../assets/home/arrow-down-selects.png);
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 195px center;
        }
        
        select option:first-child {
            color: #E5E5E5;
        }
        
        .wrap {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        .wrap label {
            display: inline-block;
            width: 47%;
        }
        
        .wrap input {
            width: 100%;
        }
        
        input[type=file] {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            position: absolute;
            z-index: -10;
        }
        
        .form_wrap_addinfo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 7px;
        }
        
        .form_wrap_addinfo.open {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
        
        .form_wrap_addinfo.open div {
            width: 100%;
        }
        
        #info_form_text {
            cursor: pointer;
        }
        
        .form_wrap_addinfo.open #info_form_text {
            color: #4C6481;
            cursor: default;
        }
        
        .submit_text_form {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            margin-top: 37px;
        }
        
        .form .button_blue {
            width: 210px;
            height: 50px;
        }
        
        .upload_file {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .info_form {
            display: flex;
            align-items: center;
            justify-content: left;
        }
        
        .button_div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 26px;
        }
        
        .form_section_text {
            color: #E8E8E9;
            text-align: left;
            width: 350px;
            margin-left: 58px;
            margin-top: 65px;
            min-width: 310px;
        }
        /*////////////////////////////////////////*/
        /*clinics*/
        
        .clinics_section.wrapper {
            text-align: center;
            margin-bottom: 105px;
        }
        
        .clinics_section.wrapper .header2 {
            margin-bottom: 50px;
        }
        
        .clinics_section button {
            width: 295px;
        }
        
        .wrapper_slide_clinics {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 265px;
            width: 100%;
            margin-bottom: 63px;
        }
        
        .owl-carousel.slide_clinics {
            width: 100%;
            height: 100%;
        }
        
        .slide_image {
            border-radius: 30px;
            box-shadow: 2px 2px 4px rgba(1, 50, 107, 0.2);
            margin: auto 15px;
            height: 261px;
            display: inline-block;
            vertical-align: top;
            max-width: 240px;
            width: 240px;
            min-width: 240px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        
        .slide_image img {
            width: 100%;
            height: 57%;
            margin-bottom: 19px;
        }
        
        .owl-carousel.slide_clinics .owl-stage-outer {
            height: 100%;
        }
        
        .owl-carousel.slide_clinics {
            position: relative;
        }
        
        .owl-carousel.slide_clinics .owl-nav {
            position: absolute;
            top: 50%;
            width: 100%;
        }
        
        .owl-carousel.slide_clinics .owl-nav .owl-prev,
        .owl-carousel.slide_clinics .owl-nav .owl-next {
            height: 30px;
            width: 30px;
            position: absolute;
            outline: none;
        }
        
        .owl-carousel.slide_clinics .owl-nav .owl-prev {
            left: -30px;
        }
        
        .owl-carousel.slide_clinics .owl-nav .owl-next {
            right: -30px;
        }
        
        .owl-carousel.slide_clinics .owl-dots {
            display: none;
        }
        /*///////////////////////////////////*/
        /*faq_section*/
        
        .faq_section.wrapper {
            text-align: center;
            width: 862px;
            margin-bottom: 80px;
        }
        
        .faq_section .header2 {
            margin-bottom: 52px;
        }
        
        .faq_section_div {
            border-radius: 30px;
            box-shadow: 2px 2px 4px rgba(1, 50, 107, 0.2);
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: auto;
            min-height: 79px;
        }
        
        .faq_section_div p {
            text-align: left;
            margin-left: 38px;
        }
        
        .faq_section_buttons {
            margin-top: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .faq_section_buttons button {
            width: 270px;
            margin: auto 15px;
        }
        
        .faq_section_div svg {
            margin-right: 30px;
        }
        
        .faq_section_div svg.rotate180 {
            transform: rotate(180deg);
        }
        /*////////////////////////////////////////*/
        /*reviews_section*/
        
        .reviews_section {
            text-align: center;
            margin-bottom: 113px;
            margin-top: 123px;
        }
        
        .reviews {
            justify-content: space-around;
            text-align: left;
            margin: 53px auto 38px auto;
            width: 1050px;
            display: flex;
            align-items: baseline;
        }
        
        .reviews_section_div {
            width: 30%;
            height: 340px;
            padding-right: 20px;
            padding-left: 5px;
        }
        
        .stars {
            margin-bottom: 9px;
        }
        
        .text_reviews {
            font-family: 'Merriweather', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            margin-bottom: 30px;
        }
        
        .reviews_section_div .header6 {
            margin-top: 30px;
        }
        
        .reviews_section button {
            width: 330px;
        }
        /*footer*/
        
        .footer {
            background: #FFFFFF;
            box-shadow: -2px -2px 4px rgba(1, 50, 107, 0.2);
            height: 200px;
            margin-top: 50;
            padding-top: 22px;
            margin-bottom: 30px;
        }
        
        .footer_wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            margin: 0px auto 5px auto;
            width: 1050px;
        }
        
        .footer_wrapper .header_logo {
            margin-top: 25px;
        }
        
        .footer_logo {}
        
        .footer_menu {
            margin-right: 45px;
        }
        
        .footer_menu_ul {
            list-style-type: none;
        }
        
        .footer_menu_ul li {
            margin-bottom: 7px;
        }
        
        .footer_social {
            text-align: left;
            margin-top: 13px;
            margin-right: 30px;
        }
        
        .footer_social .socials {
            margin-bottom: 23px;
            margin-left: -7px;
        }
        
        .footer_social .socials a {
            text-align: left;
            margin-right: 6px;
        }
        
        .footer_request button {
            width: 198px;
            margin-right: 8px;
        }
        
        .footer_bottom_text {
            text-align: right;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 128.91%;
        }
        
        .footer_bottom_text span {
            margin: auto 13px;
        }
        /*////////////////////////////////////////////////*/
        
        .navigation {
            margin-bottom: 40px;
            margin-top: 166px;
        }
        
        .navigation ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 0px;
        }
        
        .navigation ul li {
            margin-right: 20px;
        }
        /*about_us*/
        
        .about_us {
            display: flex;
            flex-direction: column;
        }
        
        .about_us .wrapper {
            height: auto;
            margin-bottom: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .about_us .wrapper img {
            width: 49%;
            height: auto;
            max-height: 380px;
            max-width: 510px;
            min-width: 290px;
        }
        
        .about_us .wrapper .about_us_text {
            width: 48%;
        }
        
        .about_us ul {
            padding-left: 0px;
        }
        
        .about_us ul li {
            margin-top: 15px;
            list-style: none;
            background: url(../assets/home/check.png) no-repeat;
            padding-left: 29px;
            margin-top: 15px;
        }
        
        .about_us_text .header2 {
            margin-bottom: 30px;
        }
        
        .about_us_text .header4 {
            margin-bottom: 20px;
        }
        
        .about_us_text_withoutImg {
            width: 100%;
        }
        
        .menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        /*menu open*/
        
        .search {
            margin-right: 30px;
        }
        
        .menu_drop {
            position: relative;
        }
        
        .menu_drop .div {
            position: absolute;
            /* top: 0px;
            left: 0;*/
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .menu_drop .dark_akcent_color {
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .menu_open_wrapper {
            background: linear-gradient(136.37deg, #3085EA 4.63%, #01326B 95.37%);
            position: absolute;
            top: 100%;
            width: 100%;
            min-height: 500px;
            /* z-index: 10;*/
        }
        
        .menu_open_wrapper,
        .search.menu_open_wrapper {
            display: none;
        }
        
        .block_list {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            margin-top: 40px;
            margin-bottom: 70px;
        }
        
        .menu_open_block ul li {
            margin-bottom: 15px;
        }
        
        .menu_open_block ul {
            padding-left: 0px;
            margin-right: 40px;
        }
        
        .menu_open_block {
            width: 20%;
        }
        
        .menu_open .email {
            margin-right: 31px;
            vertical-align: middle;
        }
        
        .menu_open .telefone {
            margin-right: 45px;
        }
        
        .menu_open .socials {
            margin-right: 15px;
            vertical-align: middle;
        }
        
        .menu_open .telefone svg {
            margin-right: 10px;
        }
        
        .menu_open .social {
            margin-right: 7px;
        }
        
        .menu_open .language {
            margin-right: 16px;
        }
        
        .menu_drop .close {
            display: none;
        }
        
        .menu_open_wrapper.close {
            display: none;
        }
        
        #search_open_wrapper,
        #menu_open_wrapper {
            z-index: 50;
        }
        
        .search .menu_open {
            justify-content: space-between;
            width: 635px;
            height: 50px;
            margin: 120px auto auto auto;
            display: flex;
            align-items: center;
        }
        
        input:-ms-input-placeholder {
            color: #BEC2C3;
        }
        
        .search input::-webkit-input-placeholder {
            color: #BEC2C3;
        }
        
        .search input::placeholder {
            color: #BEC2C3;
        }
        
        .search input::-moz-placeholder {
            color: #BEC2C3;
        }
        
        .search input {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 65%;
            /*  margin-top: 6px;
            margin-bottom: 17px;*/
            height: 50px;
            border: 0.5px solid #BEC2C3;
            border-radius: 30px;
            outline: none;
            padding-left: 29px;
            background-color: transparent;
        }
        
        .search button {
            background-color: transparent;
            outline: none;
        }
        
        #search_button_close,
        #menu_button_close {
            display: none;
        }
        /*contacts_info*/
        
        .contacts_section {
            margin-top: 56px;
            margin-bottom: 132px;
        }
        
        .contacts_section_wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
        }
        
        .contacts_info {
            width: 48%;
        }
        
        .contacts_info a {
            display: flex;
        }
        
        .contacts_info a svg {
            margin-right: 15px;
        }
        
        .contacts_info .socials {
            display: flex;
        }
        
        .contacts_info .header2 {
            margin-bottom: 46px;
        }
        
        .contacts_info .main_text {
            margin-bottom: 30px;
        }
        
        .contacts_map {
            width: 500px;
            height: 540px;
            border: 1px solid red;
        }
        
        .review {
            text-align: center;
            margin-top: 63px;
            margin-bottom: 130px;
        }
        
        .review .reviews {
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 0px;
        }
        
        .review .reviews .reviews_section_div {
            width: 46%;
            margin-bottom: 60px;
            height: auto;
        }
        
        .nav_pages a {
            margin-right: 10px;
        }
        
        .nav_pages {
            text-align: right;
        }
        
        .faq_section_div_text {
            text-align: left;
            padding: 20px 10px 20px 25px;
            display: none;
        }
        
        .specialization_article p {
            margin-bottom: 20px;
        }
        
        .specialization_article .wrapper {
            height: auto;
            margin-bottom: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .specialization_article .wrapper img {
            width: 49%;
            height: auto;
            max-height: 510px;
            max-width: 510px;
            min-width: 290px;
        }
        
        .specialization_article .wrapper .about_us_text {
            width: 48%;
        }
        
        .specialization_article ul {
            padding-left: 0px;
        }
        
        .specialization_article ul li {
            margin-top: 15px;
            list-style: none;
            background: url(../assets/home/check.png) no-repeat;
            padding-left: 29px;
        }
        
        .clinics .wrapper_slide_clinics {
            height: auto;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        
        .clinics .slide_image {
            margin: auto auto;
            width: 24%;
            margin-bottom: 20px;
            text-align: center;
            height: 280px;
        }
        
        .clinics .slide_clinics {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        /*fixed elements*/
        
        .button_up_and_reviews {
            position: fixed;
            bottom: 95px;
            right: 45px;
            z-index: 100;
        }
        
        .button_up_and_reviews svg {
            margin-right: 15px;
            cursor: pointer;
        }
        /*hovers*/
        
        .our_service_section_div:hover,
        .specialization_section_div:hover {
            background: #FFFFFF;
            box-shadow: 2px 2px 4px rgba(1, 50, 107, 0.2);
            border-radius: 30px;
            color: #01326B;
        }
        
        .our_service_section_div:hover p,
        .specialization_section_div:hover p {
            color: #01326B;
        }
        
        .our_service_section_div:hover svg path,
        .specialization_section_div:hover svg path {
            fill: #01326B;
        }
        
        .slide_image:hover img {
            opacity: 0.7;
        }
        
        a:hover .main_text_color,
        a:hover .main_color {
            color: #01326B;
        }
        
        a.main_color:hover {
            color: #01326B;
        }
        
        #addTextarea {
            display: none;
        }
        
        @media screen and (min-width: 360px) and (max-width: 800px) {
            * {
                margin: 0;
                padding: 0;
            }
            .container {
                width: 95vw;
            }
            nav,
            .our_service_section,
            .specialization_section,
            .wrapper_why_us_section,
            .wrapper_about_us_section,
            .wrapper_form_section,
            .footer_wrapper,
            .reviews_section,
            .how_works_section {
                margin: 0;
            }
            .header {
                background-image: none;
                margin: auto;
                width: 100%;
            }
            nav {
                padding: 0px 15px;
                text-align: left;
                border-bottom: 1px solid grey;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
            }
            .header_nav+.contacts,
            .header_nav .social,
            .header_nav .language,
            .contacts_socials_menu_work,
            .first_section_arrow_down {
                display: none;
            }
            .header_navigation_page {
                margin: -20px 20px 0px 20px;
            }
            .first_section {
                background-image: url(../assets/home/Rectangle.png);
            }
            .wrapper {
                margin: 0;
                text-align: center;
            }
            h1 {
                font-size: 35px;
                margin-top: 30px;
                margin-bottom: 35px;
            }
            .first_section_li:first-child {
                margin-top: 30px;
            }
            .first_section_li {
                margin-left: 26%;
                margin-right: 26%;
                text-align: left;
            }
            .button {
                padding: 15px 40px;
            }
            h3 {
                font-size: 30px;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .first_section_pages {
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
            .first_section_slide_text {
                font-size: 14px;
                line-height: 1.5rem;
                margin: 20px 10px;
            }
            .first_section_slide_div {
                text-align: left;
                align-items: center;
                margin-left: 40px;
                margin-bottom: 15px;
            }
            .first_section_slide_div svg,
            .first_section_slide_div p {
                display: inline-block;
            }
            .about_us_section {
                margin-top: 60px;
                margin-bottom: 0px;
            }
            .wrapper_about_us_section {
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: repeat(3, auto);
                margin: auto 10px;
            }
            #about_us_section_wrapper_text_h3 {
                display: inline-block;
                grid-area: 1/1/1/1;
            }
            .about_us_section_image img {
                width: 95vw;
                height: 95vw;
            }
            .about_us_section_wrapper_text {
                margin-top: 30px;
            }
            .about_us_section_wrapper_text h3 {
                display: none;
            }
            .about_us_section_image {
                grid-area: 2/1/2/1;
            }
            .about_us_section_wrapper_text p {
                grid-area: 3/1/3/1;
            }
            .next_text {
                margin-top: 30px;
            }
            .our_service_section {
                margin-top: 100px;
                margin-bottom: 35px;
            }
            .our_service_section_div>svg {
                margin-bottom: 45px;
            }
            .our_service_section_div {
                margin-top: 20px;
                margin-bottom: 45px;
            }
            .wrapper_section_why_us {
                background-image: none;
                align-items: stretch;
            }
            .why_us_section {
                background-image: url(../assets/home/whyUs.png);
                margin-bottom: 50px;
                background-position-x: center;
            }
            /*//why_us_section///*/
            .wrapper_why_us_section h3 {
                margin-bottom: 40px;
                margin-top: -20px;
            }
            .why_us_section_div p {
                font-size: 18px;
            }
            .why_us_section_div p:first-child {
                font-size: 36px;
            }
            .why_us_section_div:last-child {
                margin: auto 20px;
            }
            .why_us_section_div:first-child {
                margin: auto 20px;
            }
            .why_us_section_div {
                margin: 10px 20px 30px 20px;
            }
            .why_us {
                flex-wrap: wrap;
                justify-content: center;
                padding-bottom: 0px;
                padding-top: 0px;
            }
            .specialization {
                justify-content: center;
                margin-top: -10px;
            }
            .specialization_section_div {
                width: 50%;
                padding: 0px;
                margin-bottom: 60px;
            }
            .specialization_section_div svg {
                margin-bottom: 0px;
            }
            .how_works_section {
                margin-bottom: 10px;
            }
            .how_works_section_div {
                margin-left: 30px;
            }
            /*form*/
            #form_section {
                width: 100%;
            }
            .wrapper_form_section {
                flex-direction: column;
                width: 100%;
            }
            .form_section_text {
                order: -1;
                margin-left: 0px;
                margin-top: 30px;
                ;
                width: 90%;
                padding: 0 5%;
            }
            .form_section_text h3 {
                font-size: 36px;
            }
            .form {
                margin: 30px 5% 60px 5%;
                width: 80%;
                padding: 11% 5% 5% 5%;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(9, auto);
            }
            .form_label {
                margin-bottom: 37px;
            }
            .name_form {
                grid-area: 1/1/1/1;
            }
            .country_form {
                grid-area: 2/1/2/1;
            }
            .telefone_form {
                grid-area: 3/1/3/1;
            }
            .email_form {
                grid-area: 4/1/4/1;
            }
            .service_form {
                grid-area: 5/1/5/1;
            }
            .textarea_form {
                grid-area: 6/1/6/1;
            }
            .form_wrap_addinfo {
                grid-area: 7/1/7/1;
                margin: -15px auto;
            }
            .form_wrap_addinfo div {
                min-width: 300px;
                margin-bottom: 25px;
            }
            .submit_text_form {
                grid-area: 8/1/8/1;
                padding-top: 0px;
            }
            .button_form {
                grid-area: 9/1/9/1;
                margin-top: 35px;
                margin-bottom: -60px;
            }
            #name {
                width: 85%;
            }
            .form input {
                width: 85%;
            }
            .form select {
                width: 92%;
            }
            .form textarea {
                width: 85%;
            }
            .reviews {
                margin-top: 55px;
            }
            .reviews_section_div {
                display: none;
                width: 75%;
                height: 328px;
                margin: auto 15px;
                text-align: center;
            }
            .reviews_section_div:first-child {
                display: block;
            }
            .text_reviews {
                margin-bottom: 16px;
            }
            .reviews_section {
                margin-bottom: 105px;
            }
            .clinics_section h3 {
                margin-bottom: 20px;
                font-size: 35px;
            }
            .clinics_section {
                text-align: center;
                margin: 20px 15px 145px 15px;
            }
            .wrapper_slide_clinics {
                flex-direction: column;
                margin-bottom: 5px;
            }
            .slide_arrow {
                display: none;
            }
            .clinics {
                margin-bottom: 20px;
                height: 100%;
            }
            .slide_image {
                margin-bottom: 40px;
                height: 260px;
            }
            .faq_section {
                margin: 50px 10px;
            }
            .faq_section_div {
                height: 100px;
            }
            .faq_section_buttons {
                margin-top: 60px;
                text-align: center;
            }
            .faq_section_buttons span {
                display: block;
                margin: 20px;
            }
            main {
                margin-bottom: 55px;
            }
            .footer_wrapper {
                flex-direction: column;
            }
            .footer_logo,
            .footer_menu,
            .button_up_and_reviews {
                display: none;
            }
            .footer_social {
                margin-top: 30px;
                margin-left: 0px;
                text-align: center;
            }
            .footer_social_telefones {
                margin-left: 0px;
                text-align: center;
            }
            .footer_social_telefones p {
                margin-bottom: 15px;
            }
            .footer_request {
                margin-bottom: 65px;
                margin-left: 0px;
                margin-top: 25px;
            }
            .footer_bottom_text {
                text-align: center;
                margin: auto 0px;
                font-size: 12px;
            }
            .footer_bottom_text span:last-child {
                margin-top: 15px;
                display: block;
                font-size: 14px;
            }
            .form select {
                background-position: 90% center;
            }
            #search_button_close,
            #menu_button_close {
                padding: 15px;
            }
            .search_open {
                height: 700px;
                margin: auto 15px;
                margin-top: 30px;
            }
            .search_open input {
                margin: auto auto 20px;
                width: 90%;
                padding-right: 0;
                padding-left: 0;
            }
            #request_search::placeholder {
                padding-left: 25px;
            }
            .menu_open {
                flex-direction: column;
                height: 100%;
                margin: auto 10px;
                ;
            }
            .menu_open_block {
                width: 80%;
                margin: 10%;
            }
            .menu_open_block h4 {
                margin-bottom: 20px;
            }
            .menu_open_block_mobile {
                display: block;
                background: white;
                border-radius: 30px;
                margin: 40px 10px;
                text-align: center;
            }
            .menu_open_block_mobile .contacts_socials {
                margin: 25px auto;
                text-align: center;
            }
            .menu_open_block_mobile p,
            .menu_open_block_mobile_email,
            .menu_open_block_mobile_language,
            .menu_open_block_mobile_work {
                margin-bottom: 15px;
                text-align: left;
                padding-left: 30px;
            }
            .contacts_info_email {
                font-size: 12px;
            }
            .mobile_request {
                margin: 40px auto;
            }
            .logo svg {
                width: 70%;
                height: 50%;
            }
            .menu span {
                margin-right: 10px;
            }
            textarea:focus,
            input:focus {
                color: #926da0;
                font-weight: bold;
            }
            .contacts_section_wrapper {
                margin: 70px 20px 0px 20px;
                flex-direction: column;
            }
            .contacts_info {
                width: 100%;
            }
            .contacts_info_p {
                margin-bottom: 20px;
            }
            .uppercasetext {
                margin-top: 45px;
            }
            .contacts_info_tel {
                margin-top: 15px;
                margin-bottom: 15px;
            }
            .contacts_info h3 {
                font-size: 36px;
                margin-bottom: 30px;
            }
            .contacts_info_email {
                width: 13%;
                height: 0%;
            }
            .contacts_map {
                border: 2px solid red;
                width: 100%;
            }
        }